In [3]:
from utilities import *

In [4]:
sp500 =  financial_dataset("^GSPC",2, start_date="2009-01-01",end_date= "2021-01-01")
sp500

[*********************100%***********************]  1 of 1 completed
^GSPC financial dataframe dimensions  (3021, 6)
Positive changes : 1665
Negative changes : 1356
No changes : 0

                   Open        Close      Volume  Price_change        date
Date
2009-01-02   902.989990   931.799988  4048270000             1           0
2009-01-05   929.169983   927.450012  5413910000            -1  2009-01-05
2009-01-06   931.169983   934.700012  5392620000             1  2009-01-06
2009-01-07   927.450012   906.650024  4704940000            -1  2009-01-07
2009-01-08   905.729980   909.729980  4991550000             1  2009-01-08
...                 ...          ...         ...           ...         ...
2020-12-24  3694.030029  3703.060059  1883780000             1  2020-12-24
2020-12-28  3723.030029  3735.360107  3535460000             1  2020-12-28
2020-12-29  3750.010010  3727.040039  3393290000            -1  2020-12-29
2020-12-30  3736.189941  3732.040039  3154850000             1  2020-12-30
2020-12-31  3733.270020  3756.070068  3179040000             1  2020-12-31

[3021 rows x 5 columns]

In [5]:
sp500.to_csv('Datasets/sp500.csv')